/* ===== TABLE HEADER ===== */
.table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
}

.search input[type=text] {
  padding: 15px 200px 15px 15px;
  border: 1px solid #090e24;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  background-color: #3d2864;
  display: inline-block;
  color: #fff;
  padding: 15px 20px 15px 20px;
  border-radius: 100px;
}


/* ===== TABLE ===== */
.content-table {
  font-size: 0.9em;
  width: calc(100% - 60px);
  color: #757f98;
  -webkit-border-vertical-spacing: 20px;
  -webkit-border-horizontal-spacing: 0;
}

.content-table thead tr {
  border: 1px solid #d4d7df;
  text-align: left;
}

.content-table th,
.content-table td {
  align-items: center;
  font-size: 16px;
  padding: 20px;
  border: none;
}

td {
  border: none;
}

.content-table tbody tr {
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.content-table > tbody > tr > td > div {
  display: flex;
  align-items: center;
}

.status-active {
  background-color: #e1fdf1;
  color: #03d59b;
  border-radius: 7px;
  padding: 5px 30px;
}

.status-inactive {
  background-color: #fde1e1;
  color: #d50303;
  border-radius: 7px;
  padding: 5px 30px;
}

.action-icons {
  color: #750b9e;
  font-size: 20px;
}

.action-icons i {
  margin-right: 20px;
}

.content {
  overflow: auto;
}